
<{if $lcr=='l'}><{assign var=lcr value='left_admin'}>
<{elseif $lcr=='r'}><{assign var=lcr value='right_admin'}>
<{else}><{assign var=lcr value='center_admin'}>
<{/if}>

<{assign var=zone value="page_$topbottom$lcr"}>

<{if $xoBlocks[$zone]}>
	<div class="xo-blockszone x2-secondary" id="xo-page-<{$topbottom}><{$lcr}>blocks">
	<{foreach from=$xoBlocks[$zone] item=block}>
		<nav class="panel">
			<{if $block.title}><p class="panel-heading"><{$block.title}></p><{/if}>
			<div class="panel-block">
				<p class="control has-icons-left">
					<input class="input" type="text" placeholder="Search"/>
					<span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
				</p>
			</div>
			<{$block.content}>
		</nav>
	<{/foreach}>
	</div>
<{/if}>
