:root {
    --bulma-font-family : "Source Sans Pro", sans-serif;
}

/* extension for the full-screen background image */ 
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }